$h1-fontsize: 2.2rem !default;
$h2-fontsize: 1.7rem !default;
$h3-fontsize: 1.1rem !default;
$h4-fontsize: 1rem !default;

$h5-fontsize: 1rem !default;
$h6-fontsize: 1rem !default;
$baseFs		: 1rem !default;
$smallFs	: 0.8rem !default;

h1,
.h1 {
	font-size: $h1-fontsize;

	@include max($xs) {
		font-size: calc(#{$h1-fontsize} - 0.5rem);
	}
}
h2,
.h2 {
	font-size: $h2-fontsize;

	@include max($xs) {
		font-size: calc(#{$h2-fontsize} - 0.5rem);
	}
}
h3,
.h3 {
	font-size: $h3-fontsize;
	@extend .uppercase;
	@extend .bold;

	@include max($xs) {
		font-size: calc(#{$h3-fontsize} - 0.1rem);
	}
}
