.row
	.col-sm-4
		p
			a(href="#") Link
		p
			a(target="_blank" href="http://google.ch") External Link
	.col-sm-4
		p
			button Button
		p
			input(type="button" value="Input type button")
		p
			input(type="submit" value="Input type submit")
		p
			input(type="reset" value="Input type reset")
	.col-sm-4
		p
			button(disabled) Button disabled
		p
			input(disabled type="button" value="Input type button disabled")
		p
			input(disabled type="submit" value="Input type submit disabled")
		p
			input(disabled type="reset" value="Input type reset disabled")
