.row
  .col-sm-4
    p
      input#s-checkbox-1(type="checkbox")
      label(for="s-checkbox-1") Checkbox
  .col-sm-4
    p
      input#s-checkbox-2.invalid(type="checkbox")
      label(for="s-checkbox-2") Checkbox error
    p.error This is required
  .col-sm-4
    p
      input#s-checkbox-3(type="checkbox" disabled)
      label(for="s-checkbox-3") Checkbox disabled
