figure
	img(src="img/placeholders/1057.jpg")
	figcaption.text-center
		span.italic.big.green-text  &laquo; Figcaption - Ein Besuch auf dem Oeschberg lohnt sich in jedem Fall &raquo;
		p
			span.strong.darkestgreen-text Muster Name&nbsp;
			span Leiter Schulzentrum
