p
	a(href="#") This is a Link
p
	a.download(href="#") This is a Downloadlink
p
	a.external(href="#") This is a Externallink
p
	a.news(href="#") This is a NewsLink
p
	a(href="#")
		button.big This is a big button within a link
p
	a(href="#")
		button.small This is a big button within a link
p
	button.hamburger
		i.one &nbsp;
		i.two &nbsp;
		i.three &nbsp;
